@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --primary: #c3f21a;
  --background: #f5f1e8;
  --bg: #eae7de;
  --text: #03045e;
}

@theme inline {
  /* colors */
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-primary: var(--primary);

  /* font */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.link-hover {
  @apply relative transition hover:underline hover:decoration-wavy hover:underline-offset-8 duration-100 hover:text-primary;
}

.prev-next-btn {
  @apply absolute top-1/2 -translate-y-1/2 bg-primary/50 border p-1 rounded-sm cursor-pointer text-xl;
}

.link-btn {
  @apply flex items-center gap-2 text-sm! border rounded-sm hover:scale-105 p-1! active:bg-primary;
}

html {
  @apply antialiased;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-poppins), system-ui, sans-serif;
  transition: background-color 300ms, color 300ms;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05),
      transparent 30%,
      transparent 70%,
      rgba(0, 0, 0, 0.05)
    ),
    repeating-linear-gradient(
      to right,
      rgba(120, 110, 70, 0.08),
      rgba(120, 110, 70, 0.08) 1px,
      transparent 1px,
      transparent 10px,
      rgba(120, 110, 70, 0.05),
      rgba(120, 110, 70, 0.05) 11px,
      transparent 11px,
      transparent 111px
    );
}

@layer components {
  /* CSS */
  .hero-btn {
    align-self: center;
    background-color: var(--primary);
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: 0.75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .hero-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }

  .hero-btn:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}

.track > h1 {
  font-family: Antonio;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text);
}

.bg_design_1 {
  background-color: #f5f1e8;
  opacity: 1;
  background-image: radial-gradient(
      #03045e 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    radial-gradient(#03045e 0.7000000000000001px, #f5f1e8 0.7000000000000001px);
  background-size: 28px 28px;
  background-position: 0 0, 14px 14px;
  background-blend-mode: color-burn;
  padding-bottom: 2rem;
}
